<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="fragments/header :: bootstrap">
    <script th:replace="fragments/header :: js1"></script>
    <script th:replace="fragments/header :: js2"></script>
    <script th:replace="fragments/header :: js3"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Courses Page</title>
</head>
<body>
<nav th:replace="fragments/header :: navigation"></nav>
<div>
    <div th:if="${th_task} == null">
        <p th:text="'NOTHING HERE'"></p>
    </div>
    <div th:if="${th_task} != null">
        <p th:text="${th_task.lesson}"></p>
        <p th:text="${th_task.number}"></p>
        <p th:text="${th_task.description}"></p>
        <p th:text="${th_task.solutionLink}"></p>
    </div>
</div>
</body>
</html>