<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="fragments/header :: bootstrap">
    <script th:replace="fragments/header :: js1"></script>
    <script th:replace="fragments/header :: js2"></script>
    <script th:replace="fragments/header :: js3"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Create Page</title>
</head>
<body>
<nav th:replace="fragments/header :: navigation"></nav>
<h1>403 FORBIDDEN</h1>
</body>
</html>